@charset "UTF-8";

@media screen and (min-width: 768px) {
  span#menu {
    display: none;
  }
  menu {
    display: block;
  }
  menu > ul > li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  menu > ul > li > a {
    border: none;
  }
  main {
    width: 768px;
  }
}
